
  </div>

</body>
    <div class="col-md-4 col-md-offset-4 footer">
      <!-- about modal trigger -->
      <h4 class="about"><a href="#aboutModal" class="bout-trigger" data-toggle="modal">About</a></h4>
    </div>

  <!-- about modal -->
  <div id="aboutModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <button type="buttone" class="close" data-dismiss="modal" aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></button>
            <h4 class="modal-title">About Grpvne</h4>
        </div>
        <div class="modal-body">
            <p><h3 class="A">A</h3>t Grpvne, we set out to build more than just a regular news aggregator.
            We wanted to build a true information aggregator that is always improving the way we read news.
            Our mission here at Grpvne is to bring you closer to the events that happen today,
            tomorrow, and onward with more than just news sources, but with people. Sometimes,
            the rawest stories come from regular people who are on the scene while it's happening,
            long before the Newscorps, Foxes, MSNBCs, and the Journals even get word. Sometimes,
            we want the news. Sometimes, we want it unfiltered. In today's world, you can have both.
            Our generation has realized that the news can be more fiction than fact. Why shouldn't we
            have sources that give us more fact than fiction?</p>
            <% if(user){ %>
              <p>Hear what everyone is saying. Hear it through the Grpvne.</p>
              <p>Now that you're here, <%= user.firstName %>... look at some <a href="/results/?q=cats">cats</a>!</p>
            <% }else{ %>
              <p>Read real news. Raw. As it should be. Or, you know... You could just look at some cats.</p>
              <p>Hear what everyone is saying.</p>
              <p class="hear-it"><h4><a class="hear-it" href="/auth/register">Hear it through the <i id="aboutLeaf" class="glyphicon glyphicon-leaf"></i>Grpvne.</a></h4></p>
            <% } %>
        </div>
        </div>
      </div>
    </div>
  </div>
</html>