/* ----------  MAIN ---------- */
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* ----------  alerts ---------- */
.alert {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 0px;
}

/* ----------  header ---------- */
.navbar {
  margin-bottom: 0px;
}

.w1-search-form {
  margin-left: 0px;
}

/* ----------  footer ---------- */
.about {
  text-align: center;
}

a.bout-trigger {
  color: green;
}

a:hover.bout-trigger {
  color: purple;
}

/* ----------  about modal ---------- */
.modal-body {
  padding: 40px;
}

.A {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 2px;
}

.slogan {
  text-align: center;
  color: green;
  font-weight: bold;
}

.hear-it {
  color: purple;
}

a.hear-it:hover {
  color: green;
}

.grpvne {
  text-align: center;
  padding-bottom: 10px;
}

#aboutLeaf {
  color: green;
}

/* ----------  contact modal ---------- */
#contact-body {
  padding: 50px;
}

.name {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 2px;
}

.headshot {
  display: block;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
}

.link-contact {
  vertical-align: middle;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

/* ----------  welcome page ---------- */
.welcome {
  background: url("/images/grapevine.jpg");
  background-attachment: fixed;
  background-position: left;
  height: 565px;
  width: 107%;
  left: -3%;
  margin: 0 auto;
}

.w1-intro {
  color: white;
  position: absolute;
  margin-top: 200px;
  text-align: center;
}

.title-div {
  background: rgba(0,0,0,0.4);
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 25px;
}

.w1-title {
  font-family: helvetica;
  font-weight: bolder;
}

a.home-trellis {
  color: purple;
}

.down-arrow {
  display: inline-block;
  text-align: center;
  padding-bottom: 10px;
  color: purple;
}
.landing1 {
  left: -2.3%;
}

.land1-title {
  margin-top: 70px;
  color: purple;
  font-family: helvetica;
  font-weight: bolder;
  margin-left: 10px;
}

.land2-3-title {
  color: purple;
  font-family: helvetica;
  font-weight: bolder;
  margin-left: 10px;
}

.land1-p {
  color: green;
  font-family: helvetica;
  margin-left: 10px;
}

.break {
  background: url("/images/grapevine.jpg");
  background-attachment: fixed;
  background-position: left;
  height: 150px;
  width: 107%;
  left: -3%;
  margin: 0 auto;
}

.last-break {
  text-align: center;
  background: url("/images/grapevine.jpg");
  background-attachment: fixed;
  background-position: left;
  padding-top: 5px;
  height: 80px;
  width: 107%;
  left: -3%;
  margin: 0 auto;
}

  .last-break-slogan {
    color: white;
    font-family: helvetica;
    font-weight: bolder;
  }

/* ----------  login page ---------- */
.log {
  margin-top: 40px;
  margin-bottom: 263px;
}

/* ----------  registration page ---------- */
.reg {
  margin-top: 40px;
  margin-bottom: 41px;
}

/* ----------  results page ---------- */
.major-pub {
  text-align: left;
  margin-top: 40px;
  height: 533px;
  overflow: auto;
}

.domain-name {
  color: purple;
  font-size: 12px;
}

a.reddit-article {
  color: green;
}

.reddit-article {
  font-size: 16px;
}

.reddit-score {
  font-size: 12px;
  text-align: right;
}

  #score {
    text-align: right;
  }

#pic-column {
  margin-top: 40px;
}

#pic-row {
  max-width: 108%;
  height: 200px;
  overflow: auto;
  overflow-y: hidden;
  display: inline-block;
  white-space: nowrap;
}

.insta-div {
  margin-top: 7px;
  margin-left: 5px;
  display: inline-block;
}

.insta-user {
  margin-bottom: 3px;
  font-weight: bolder;
}

a.name-link {
  color: green;
}

.insta-pic {
  display: inline-block;
}

#tweet-column {
  margin-top: 40px;
  height: 287px;
  overflow: auto;
}

.tweet-retrieved {
  font-size: 14px;
}

.avatar {
  display: inline-block;
}

.twitter-user {
  margin-left: 5px;
}

a.screen-name {
  color: green;
}

.user-tag {
  color: purple;
  margin-top: 1px;
}

.twitter {
  margin-top: 7px;
  text-align: left;
}

.fav-rewtweet {
  margin-top: 7px;
}

.date {
  vertical-align: bottom;
}

/* ----------  mobile results div ---------- */
.mobile-triggers {
  margin-top: 70px;
  margin-bottom: 130px;
}

.instaMod-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#picMod-body {
  left: -2.3%;
}

.insta-text {
  white-space: normal;
  overflow: none;
}

/* ----------  article show page ---------- */
.viewer {
  margin-top: 0px;
  text-align: center;
  left: -30px;
  width: 105%;
}

.page-viewer {
  width: 110%;
  height: 500px;
  max-width: 110%;
  max-height: 500px;
}

.score-domain {
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center;
}

.article-save {
  height: 40px;
  max-height: 40px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 3px;
}

.art-button {
  vertical-align: middle;
  display: inline-block;
}

/* ----------  trellis page ---------- */
.user-header {
  color: purple;
}

.trellis-leaf {
  color: green;
}

.trellis-articles {
  margin-top: 25px;
  width: 100%;
  height: 500px;
  overflow-x: hidden;
  overflow: auto;
}

/* ---------- error page ---------- */
.error {
  margin-top: 80px;
  text-align: center;
  font-weight: bold;
  color: green;
}

.symbol {
  color: purple;
}

.spill {
  display: block;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
}

.error-message {
  text-align: center;
  font-size: 16px;
  margin-bottom: 110px;
  font-weight: bold;
}

/* ---------- no results page ---------- */
.nores {
  text-align: center;
}

.no-results {
  text-align: center;
}