<% include ../partials/header %>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <h1 class="error"><i class="glyphicon glyphicon-glass symbol"></i>Lay off the wine(404)!</h1>
    <img class="spill" src="http://i.imgur.com/LZCDjl1.jpg">
    <p class="error-message">You've spilled it all over the carpet!
    <br>It looks like this page doesn't exist. Try another one... Or stop screwing around in the url bar.</p>
  </div>
</div>

<% include ../partials/footer %>