<% include ../partials/header %>

<div class="col-md-12 welcome container">
  <div class="w1-intro col-md-4 col-md-offset-4">
    <h1 class="w1-title">Welcome to Grpvne</h1>
    <p calss="w1-subtitle">The aggregator for information from everywhere and everyone.</p>
    <% if(user){ %>
    <h4><a href="/profile"><strong>Go to your dashboard.</strong></a></h4>
    <% }else{ %>
    <a href="./auth/register" class="btn btn-md btn-danger">Register</a>
    <% } %>
  </div>
</div>

<% include ../partials/footer %>