<% include ../partials/header %>

<div class="col-md-12 col-sm-12 col-xs-12 welcome container">
  <div class="w1-intro col-md-4 col-md-offset-4">
    <h1 class="w1-title">Welcome to Grpvne</h1>
    <p class="w1-subtitle">The aggregator for information from everywhere and everyone.</p>
    <% if(user){ %>
    <h4><a class="home-trellis" href="/profile"><strong>View your Trellis.</strong></a></h4>
    <% }else{ %>
    <a href="./auth/register" class="btn btn-md btn-danger">Register</a>
    <% } %>
  </div>
</div>

<div class="col-md-12 col-sm-12 hidden-xs landing1">
  <div class="landing1-1">
    <h2 class="down-arrow"><i class="glyphicon glyphicon-arrow-down"></i></h2>
    <h1 class="land1-title">What is it?</h1>
    <p class="land1-p">Grpvne is an aggregator that brings you the news from all angles. Grpvne works with
    APIs from Reddit, Instagram, and Twitter to bring you the full breadth of what's going on
    around the world so that<br> you can get in depth information on the events you are
    looking in to.</p>
    <img id="grp1" src="http://i.imgur.com/KOjr1Lw.png?2">
  </div>
</div>

<div class="col-md-12 col-sm-12 hidden-xs break">
</div>

<div class="col-md-12 col-sm-12 hidden-xs landing1">
  <div class="landing1-1">
    <h1 class="land2-3-title">Using Grpvne</h1>
    <p class="land1-p">After we've retrieved your results, simply click on the article you wish to view to
    be taken to the viewing page. Once you're there, you may simply read the article or, if you don't have
    time, or if you want<br> to read it again later, simply click the <a class="btn btn-success"><i class="glyphicon glyphicon-leaf"></i>Add to Trellis</a>
    button to save the article to your Trellis page. The Trellis is your profile where your saved articles
    will be kept.</p>
    <img id="grp1" src="http://i.imgur.com/RJPwESI.png?2">
  </div>
</div>

<div class="col-md-12 col-sm-12 hidden-xs break">
</div>

<div class="col-md-12 col-sm-12 hidden-xs landing1">
  <div class="landing1-1">
    <h1 class="land2-3-title">Your Trellis</h1>
    <p class="land1-p">Once you are finished with an article in your Trellis, you may simply click the
    <a class="btn btn-danger"></i>Prune</a> button to remove it from your Trellis. It's that simple. Take
    in the news at your convenience and enjoy!</p>
    <img id="grp1" src="http://i.imgur.com/eD05YMm.png?2">
  </div>
</div>

<div class="col-md-12 col-sm-12 hidden-xs last-break">
  <h3 class="last-break-slogan">Hear it through the <img src="http://i.imgur.com/tBGweg1.png">Grpvne</h3>
</div>

<% include ../partials/footer %>